* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(-75deg, #ffd8c0 60%, #f9cbae 40%); */
  background: linear-gradient(-75deg, #ccc0a1 60%, rgb(145, 107, 26) 40%);
}

h1 {
  font-size: 4.25rem;
  margin: 0;
}

p {
  font-size: 2.25rem;
  margin: 0;
}
/* Main Container of Landing page */
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}
/* Left Container of Landing Page */
.container-left {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 70%;
}

/* Right Container of Landing Page */
.container-right {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin-bottom: 2rem;
  font-family: "Nixie One", cursive;
  animation: fade 3s;
}

.support-title {
  margin-bottom: 2rem;
  font-family: "Poiret One", cursive;
  animation: fade 3s;
}

.button {
  padding: 1rem 6rem;
  border-radius: 10rem;
  background-color: rgb(145, 107, 26);
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-animation: buttonBounce 2s infinite alternate;
  -moz-animation: buttonBounce 2s infinite alternate;
  animation: buttonBounce 2s infinite alternate;
}

.button:hover {
  opacity: 0.8;
}
/* Media Query for Diff Display Sizes */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .main-title {
    margin-bottom: 0.25rem;
  }
  .button {
    padding: 1rem 3.5rem;
  }
}

/* Button Animation Keyframes */

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes buttonBounce {
  to {
    transform: scale(1.2);
  }
}

/* Text Animation Keyframes */

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
